body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
}
#container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 2px black;
  padding: 10px;
}

#input-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#display-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 15px;
}
